<!DOCTYPE html>
<html>
<head>
	<title>MemeTube</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<a href="/memes/new">Post a meme!</a>
	<a href="/memes">Back to index!</a>
	<h1>MemeTube!</h1>
	<%= yield %>
</body>
</html>