<h1><%= @show %></h1>

<h2><%= @meme.title %></h2>
<p><%= @meme.description %></p>

<form action="/memes/<%= @meme.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" name="Delete" value="Delete meme!">
</form>